.Main{
   width: 100vw;
   height: 100vh;
}

body{
    margin: 0;
    padding: 0;
   
}
.Body{
    background-color: lightgrey;
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
}
.c2{
    margin-left: -65%;
    width: 100%;
    background-color: lightyellow;
}
.NavSide{
    color:white;
   
}
